.btn-gradient {
  background-image: linear-gradient(180deg, #004A73 0%, #2CA3D5 100%)
}
.divmin-height {
    min-height: 400px;
    height: 400px;
}
.divmin-height-2x {
  min-height: 470px;
  height: 470px;
}

.multiselect__tag {
  background: #004A73 !important;
}

.multiselect__tag-icon:after {
  color: #fff !important;
}

.multiselect__input {
  border: 0px !important;
  box-shadow: none !important;
}

.multiselect__option--highlight {
  background: #004a73 !important;
}

.multiselect__option--highlight::after {
  background: #004a73 !important;
}

.mosha__toast.success {
  background-color: #028312 !important;
}

.mosha__toast__content__text {
  font-weight: 400 !important;
}